# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
packages/database/prisma/migrations/**/migration_lock.toml

# docker volumes (local)
postgres-data/
redis-data/
